<form class="example-form" [formGroup]="form" (ngSubmit)="submitLogin()">

  <mat-card class="example-card">

    <mat-card-header>

      <mat-card-title>{{'Login' | translate}}</mat-card-title>

    </mat-card-header>

    <mat-card-content>

      <table class="example-full-width">

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput
                     [formControl]="login"
                     [placeholder]="'User name' | translate"
                     type="email"
                     name="user-email"
                     required
                     minlength="6">
              <mat-error *ngIf="login.invalid">{{login.errors | json}}</mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput
                     [placeholder]="'Password' | translate"
                     [formControl]="password"
                     type="password"
                     name="user-password"
                     required
                     minlength="6">
              <mat-error *ngIf="password.invalid">{{password.errors | json}}</mat-error>
            </mat-form-field>
          </td>
        </tr>

      </table>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="!form.valid" color="primary">Login</button>
    </mat-card-actions>

  </mat-card>

</form>
