<mat-card class="course-input-container">
  <form *ngIf="course$ | async as course" [formGroup]="form" (ngSubmit)="saveClick()">

    <mat-card-header>
      <mat-card-title data-testid="name-text">{{course.name}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <p>
        <mat-form-field hintLabel="Max 50 characters">
          <input matInput
                 placeholder="Title"
                 [formControl]="name"
                 type="text"
                 name="course-title"
                 required>
          <mat-hint align="end">{{name.value?.length || 0}}/50</mat-hint>
          <mat-error *ngIf="name.invalid">{{getErrMsg(name)}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field hintLabel="Max 500 characters">
        <textarea matInput rows="5"
                  placeholder="Description"
                  [formControl]="description"
                  type="text"
                  name="course-description"></textarea>
          <mat-hint align="end">{{description.value?.length || 0}}/500</mat-hint>
          <mat-error *ngIf="description.invalid">{{getErrMsg(description)}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput
                 formControlName="date"
                 [matDatepicker]="courseDatePicker"
                 placeholder="Create date"
                 type="datetime">
          <mat-error *ngIf="date.invalid">{{getErrMsg(date)}}</mat-error>
          <mat-datepicker-toggle matSuffix [for]="courseDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #courseDatePicker></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field hintLabel="Duration in minutes">
          <input matInput
                 placeholder="Duration"
                 formControlName="length"
                 type="number"
                 name="course-title"
                 required>
          <mat-error *ngIf="length.invalid">{{getErrMsg(length)}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-chip-list [formControl]="authorsCtrl" #authorList aria-label="Authors selection">
            <mat-chip
              *ngFor="let author of authorsCtrl.value"
              [selectable]="true"
              [removable]="true"
              (removed)="removeAuthor(author)">
              {{author.name}} {{author.lastName}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Course authors..."
              [formControl]="authorsInput"
              [matAutocomplete]="auto"
              [matChipInputFor]="authorList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addAuthor($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedAuthor($event)">
            <mat-option *ngFor="let author of authors$ | async" [value]="author">
              {{author.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </p>
    </mat-card-content>

    <p>
      Form Status: {{ form.status }}
    </p>

    <mat-card-actions>
      <span class="fill-remaining-space"></span>
      <button type="submit"
              [disabled]="!form.valid"
              mat-raised-button
              color="primary"
              data-testid="save-btn">
        <mat-icon>save</mat-icon>
        Save
      </button>
      <button mat-raised-button color="primary" cdkFocusInitial routerLink="..">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </mat-card-actions>

  </form>

</mat-card>
