<div class="course-input-container">

  <mat-card>

    <mat-card-header>
      <mat-card-title data-testid="title-text">{{course.title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <input matInput placeholder="Title" [(ngModel)]="course.title" type="text" name="course-title" required>

    </mat-card-content>

    <mat-card-actions>
      <span class="fill-remaining-space"></span>
      <button (click)="save.emit(course)"
              mat-raised-button
              color="primary"
              data-testid="save-btn">
        <mat-icon>save</mat-icon>
        Save
      </button>
      <button mat-raised-button color="primary">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </mat-card-actions>

  </mat-card>

</div>
