<mat-form-field class="example-form-field">
  <input [(ngModel)]="value"
         (keyup.enter)="onSearch()"
         matInput
         type="text"
         placeholder="Text to search"
         data-testid="search-input">

  <button *ngIf="value"
          (click)="value=''; onSearch();"
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          data-testid="clear-btn">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<button (click)="onSearch()"
        mat-button
        color="primary"
        data-testid="search-btn">
  <mat-icon>search</mat-icon>
</button>
