<div class="app-vc-course-list-item-container">

  <mat-card>

    <mat-card-header>
      <mat-card-title>
        {{course.title}}
      </mat-card-title>

      <mat-card-subtitle>

        <div fxLayout="row">
        <span class="with-icon">
          <mat-icon>history</mat-icon>
          <span>{{course.duration}} m</span>
        </span>

          <span class="with-icon">
          <mat-icon>event</mat-icon>
          <span>{{course.creationDate | date : 'mediumDate'}}</span>
        </span>
        </div>

      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{course.description}}</p>
    </mat-card-content>

    <mat-card-actions>
      <span class="fill-remaining-space"></span>
      <button mat-raised-button color="primary">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <button (click)="delete.emit(course.id)"
              mat-raised-button color="primary">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-card-actions>

  </mat-card>

</div>
