.app-vc-course-list-item-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.with-icon {
  display: flex;
  align-items: center;
}

mat-card {
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}
