<div class="mat-app-background app-course-list-container">

  <app-vc-search-panel (search)="search($event)"></app-vc-search-panel>

  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      Add course
    </button>
  </mat-toolbar>

  <app-vc-course-list-item *ngFor="let course of courses"
                           [course]="course"
                           (delete)="deleteCourse($event)">
  </app-vc-course-list-item>

  <button *ngIf="courses?.length"
          (click)="loadMore()"
          mat-raised-button
          class="load-more-button">
    Load more...
  </button>

  <p *ngIf="!courses || courses.length === 0" class="no-data-container">
    No Data. Feel free to add new course.
  </p>

</div>
