<div class="mat-app-background app-course-list-container">

  <app-vc-search-panel (search)="search($event)"></app-vc-search-panel>

  <mat-toolbar>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      Add course
    </button>
  </mat-toolbar>

  <app-vc-course-list-item *ngFor="let course of courses" [course]="course"
                           (delete)="deleteCourse($event)"></app-vc-course-list-item>

  <button (click)="loadMore()" mat-raised-button>Load more...</button>

</div>
