<mat-toolbar color="primary">

  <mat-icon>play_circle_outline</mat-icon>
  <span>{{'Video Course' | translate}}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <mat-form-field>
    <mat-select [(value)]="language">
      <mat-option value="en">English</mat-option>
      <mat-option value="ru">Русский</mat-option>
    </mat-select>
  </mat-form-field>

  <a *ngIf="authUser$ | async as authUser"
     mat-button>
    <mat-icon>person</mat-icon>
    {{authUser.name.first}} {{authUser.name.last}}
  </a>

  <a *ngIf="isAuth$ | async"
     mat-button
     (click)="doLogout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>{{'Logout' | translate}}</span>
  </a>

</mat-toolbar>
